In [1]:
strategies=['Rock','Paper','Scissors']

In [2]:
payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0)}

In [3]:
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

In [4]:
from random import choice

#simplest strategy: choose randomly
choice(strategies);

In [5]:
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [6]:
Players[0]['strategy'],Players[1]['strategy']

('Rock', 'Scissors')

In [7]:
# social result of individual decision
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(1, 0)

In [8]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [9]:
# current agent situation
Players

[{'name': 'John', 'score': 1, 'strategy': 'Rock'},
 {'name': 'Mary', 'score': 0, 'strategy': 'Scissors'}]

In [10]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

   name  score  strategy
0  John      1      Rock
1  Mary      0  Scissors

In [11]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

   name  score strategy
0  John      1     Rock

In [12]:
# names of players
names=['Jim','Jane','Peter','Zoe']

In [13]:
# setting up players
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [14]:
# each player a dict:
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None}]

In [15]:
import itertools 

# pair is a tuple of dicts
for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})

In [16]:
import itertools 

# each dict
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}

In [17]:
# resetting society
society=[{'name':n,'score':0,'strategy':None} for n in names]

# several rounds
for aRound in range(100):
    
    # en each round:
    for player1,player2 in itertools.combinations(society,2):
        # each chooses strategy
        player1['strategy']=choice(strategies)
        
        player2['strategy']=choice(strategies)
        
        # result from strategy chosen
        result=payoff[player1['strategy'],player2['strategy']]
            
        # update scores
        player1['score']+=result[0]
        player2['score']+=result[1]

In [18]:
# final situation
society

[{'name': 'Jim', 'score': 98, 'strategy': 'Paper'},
 {'name': 'Jane', 'score': 86, 'strategy': 'Paper'},
 {'name': 'Peter', 'score': 104, 'strategy': 'Paper'},
 {'name': 'Zoe', 'score': 108, 'strategy': 'Scissors'}]

In [19]:
# as a data frame
socialResults=pd.DataFrame(society)
socialResults

    name  score  strategy
0    Jim     98     Paper
1   Jane     86     Paper
2  Peter    104     Paper
3    Zoe    108  Scissors

In [20]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

  name  score  strategy
3  Zoe    108  Scissors

In [22]:
print(player1['name'] + " chose " + player1['strategy'] +" - "+player2['name'] + " chose " + player2['strategy'] )




if payoff[player1['strategy'],player2['strategy']] == (1,0):
    print(player1['name'] + " won")
if payoff[player1['strategy'],player2['strategy']] == (0,1):
    print(player2['name'] + " won")
else:
    print("TIE!")

Peter chose Paper - Zoe chose Scissors
Zoe won